n8n-workflows/velosluxe-call-receptionist.json
{
  "name": "VelosLuxe — Call AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "velosluxe-call",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-call-1",
      "name": "Webhook — Call Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {}
      },
      "id": "sheets-call-1",
      "name": "Google Sheets — Log Call Request",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [480, 200],
      "credentials": {}
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.your_vapi_or_twilio_endpoint || '' }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $json.body.phone }}"
            },
            {
              "name": "name",
              "value": "={{ $json.body.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "http-call-1",
      "name": "HTTP — Trigger AI Call (Configure Me)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 420],
      "disabled": true,
      "notesInFlow": true,
      "notes": "DISABLED by default. Enable this node and set the URL to your Vapi/Twilio/Bland endpoint to trigger outbound calls."
    },
    {
      "parameters": {
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={ \"status\": \"ok\", \"message\": \"Call request received\" }"
      },
      "id": "respond-call-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [720, 300]
    }
  ],
  "connections": {
    "Webhook — Call Request": {
      "main": [
        [
          {
            "node": "Google Sheets — Log Call Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP — Trigger AI Call (Configure Me)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets — Log Call Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}
